.b{
    position:absolute;
    top:50%;
    left:50%;
    border-radius : 3em;
    padding:1.2em 1em;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(90deg,#3e56a7,#04acff,#aaeaea,#1a60e1,#0f72a0,#3e56a7,#14accc);
    background-size:400%;
  }
  .b1{
    letter-spacing:.2em;
    font-weight:600;
    font-size: 1.5em;
    padding:.6em 1.6em;
    background-color:black;
    font-family: 'Raleway', sans-serif;
    text-transform: Uppercase;
    color:white;
    border-radius : 1.5em;
    text-align:center;
    text-decoration:none;
  }
  .b:hover{
    animation: animate 3s ease-out infinite;
  }
  .b1:hover{
    text-shadow:0 0 .5em rgba(255,255,255,0.8);
  }
  @keyframes animate{
    0%{
      background-position : 0%;
      box-shadow: 0 0 .8em #04acff;
    }
    50%{
      background-position: 60%;
      box-shadow: 0 0 .8em #1ab3e1;
    }
    100%{
      background-position: 100%;
      box-shadow: 0 0 .8em #3e56a7;
    }
  }