.container{
    height:40px;
    width:200px; 
    display:flex;
    /* background-color: aqua; */
}
@media screen and (max-width: 1000px) {
    .container {
        height: 20px;
        width: 100px;
    }
}