.layout{
    display: flex;
    flex-direction: row;
}
/* 
@media screen and (max-width: 1500px) {
    .layout{
        
    }
} */

@media screen and (max-width: 1000px) {
    .layout{
        flex-direction: column;
    }
}