/* button.module.css */
.glowButton {
    --button-background: transparent;
    --button-color: #fff;
    --button-shine-left: rgba(255, 255, 255, 0.1); /* Changed to a white color */
    --button-shine-right: rgba(200, 255, 255, 0.25); /* Changed to a icy white color */
    --button-shadow: rgba(0, 217, 255, 0.3);
    --button-glow-start: rgba(173, 216, 230, 0.25); /* light blue */
    --button-glow-end: rgba(255, 255, 255, 0.25);
  
    appearance: none;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 2vw;
    font-weight: 500;
    border-radius: 11px;
    position: relative;
    line-height: 24px;
    cursor: pointer;
    color: var(--button-color);
    padding: 0;
    margin: 0;
    background: none;
    z-index: 1;
    box-shadow: 0 8px 20px var(--button-shadow);
  }
   
  .glowButton span {
    z-index: 1;
    position: relative;
    display: block;
    padding: 1vw 0;
    width: 20vw;
    border-radius: inherit;
    background-color: var(--button-background);
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: radial-gradient(white, black);
  }
  
  .glowButton span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(calc(var(--pointer-x, 0px) - 2vw), calc(var(--pointer-y, 0px) - 2vw)) translateZ(0); 
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: radial-gradient(circle at var(--pointer-x, 0px) var(--pointer-y, 0px), var(--button-glow-end), var(--button-glow-start) 70%, transparent);
    opacity: var(--button-glow-opacity, 0);
    transition: background var(--button-glow-duration, 1s), opacity var(--button-glow-duration, 1s);
    filter: blur(2px);
}


.glowButton:hover span:before {
    --button-glow-opacity: 0.6;
    --button-glow-duration: .2s
}

  
  @keyframes rotate {
    to {
      transform: scale(1.05) translateY(-44px) rotate(360deg) translateZ(0);
    }
  }
  