.channel{
    margin-top: 2px;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.channel_photo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.channel_text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.channel_profil{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}